/* box_style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #997878;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #c9a5a5; 
}

.control-container,

.workspace {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #687f80; 
    overflow-y: auto; 
}

.control-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    background-color: #93bdca; 
    overflow-y: auto; 
    border-right: 1px solid #ccc;
}

.block {
    padding: 20px;
    background-color: #747474;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    user-select: none; 
    font-size: 16px; 
    line-height: 1.4; 
    transition: background-color 0.3s ease; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease; 
}

.block:hover {
    background-color: #afdfb7; 
}


.block:nth-child(odd) {
    background-color: #e9b1b1; 
}

.number-select {
    margin-left: 10px;
    width: 20%;
    padding: 2px;
    font-size: 14px;
}

.workspace .block {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px; 
}

.workspace .delete-block {
    position: absolute;
    left: 5px; 
    top: 10px;
    cursor: pointer;
    color: red;
}

.button-block {
    background-color: green; 
    user-select: none;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; 
}
.button-block:hover {
    background-color: #61e9e2; 
}

.button-block.clicked {
    background-color: #f3a2a2; 
}
.workspace .block.dragging {
    transform: translateY(-10px);
}

.workspace .block.dragging-over {
    border: 2px dashed #ccc;
}